


* {
	font-size: 16px;
	color: #232425;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*** ELEMENT STYLES ***/

body { 
	 background: url(../images/yellowbluepaw.svg);
  }

table{
	width: 100%;
}

table{
	width: 100%;
}

/*** CLASS STYLES ***/


.amazon-stuff {
	display: none;
	border: 2px solid #343a40;
}

.amzn-native-container {
	margin: auto;
}

.signInBtn {
	text-align: center;
	width: 100%;
	padding: 25px;
	font-size: 25px;
	font-weight: bolder;
	/* color: #6c757d; */
	border: 5px solid #28639e;
	margin: 20px;
	white-space: normal;
}

.signInBtn:hover {
	background-color:#28639e;
	color: white;
	/* border-color: #6c757d; */
}

.btn-submit {
	margin: 10px 0px 10px 0px;
	/* color: #6c757d; */
	color:white;
	background-color:#28639e;
	font-weight: bold;
	/* border: 2px solid #6c757d; */
}

.btn-submit:hover ,.sizeBtn:hover{
	/* color: white;  */
	color:#FFE623;
	/* background-color: #6c757d; */
	
	/* border: 2px solid #343a40; */
}
form{
	line-height: height 0.5em;
}

select{
	border: 2px solid #343a40;
	margin: 2px;
}
.textboxInput {
	border: 2px solid #28639e;
	margin: 2px 0px 2px 0px;

}

.cardContainer {
	margin: auto;
	padding:0;
}
.card-header{
	color:#28639e;
	font-weight:bolder;
}

.inputLabel {
	color: #28639e;
	font-weight: bold;
	vertical-align: bottom;
}

.sizeButton{
	border: 2px solid #004a99; /* primary: #007bff; */
}

.sizeButton_pressed{
	background-color: #6c757d;
	border: 2px solid #6c757d;
}

.tableDataIndent{
	width: 25px;
	padding: 2px;
	text-align: center;
}

.petName{
	font-size: 20px;
	text-align: left;
	padding: 2px;
}

.petBreed{}
.petAge{}
.petWeight{}
.petSex{}
.petSize{}

.petDataSummary{
	margin: 5px;
	padding: 5px;
	background-color: #6c757d;
	border: 2px solid #343a40;
	/* border: 2px solid #343a40; */
	color: white;
	font-weight: bold;
}

.petDataDetail{
	display: none;
	width: 75%;
	background-color: #EEEEEE;
	text-align: left;
	margin: 15px;
	padding: 10px 5px 10px 5px;
	font-size: 16px;
	font-weight: normal;
}

.btn-openClose{
	border: 2px solid #343a40;
	padding: 5px;
	background-color: #ffc107;
	color: #343a40;
	font-size: 20px;
}

.btn-openClose:hover{
	border-color: #ffc107;
	background-color: #343a40;
	color: #ffc107;
}


.btn-editPetData{
	display: none;
	float: right;
	background-color: #66ff99;
	border: 2px solid #343a40;
	color: #343a40;
	font-weight: bold;
}

.btn-editPetData:hover{
	background-color: #339966;
	border-color: #66ff99;
	color: #66ff99;
}



/*
.petDataSummary:hover{
	background-color: #343a40;
	color: #ffc107;
	border-color: #ffc107;
}*/


/*** ID STYLES ***/

#mainContentArea {
	display: none;
}
#header img {
	float: left;
	width: 50px;
	height: 50px;
	/* background: #555; */
  }
  #signInheader img{
	  width:70px;
	  height:70px;
  }
  #signInheader{
	color:#28639e;
	  display:inline;
	  text-align: center;
  }
  /* #titleDiv{
	  float:left;
  } */
  #title{
	/* float: left; */
display:inline;
	position: relative;
	color:#28639e;
	/* background-color: rgb(224, 224, 110); */
		font-weight: bolder;
		font-size: 40px;
	}
	

  

#header 
{
	border: 5px solid #28639e;
}

img {
	float: left;
	width: 50px;
	height: 50px;
	/* background: #555; */
  }
  #signInheader img{
	  width:70px;
	  height:70px;
  }
  #signInheader{
	color:#28639e;
	  display:inline;
	  text-align: center;
  }
  /* #titleDiv{
	  float:left;
  } */
  #title{
	/* float: left; */
display:inline;
	position: relative;
	color:#28639e;
	/* background-color: rgb(224, 224, 110); */
		font-weight: bolder;
		font-size: 40px;
	}
	

  

#header {
	margin:auto;
	padding:auto;
	width:100%;
	margin: 0px 0px 20px 0px;
	/* background-image: url(../images/images\ \(1\).jpeg); */
	/* opacity: 0.6; */
	/* background-color: rgb(224, 224, 110); */
	/* background-color: #FFE623; */
	/* border: 2px solid #343a40; */
	text-align: center;
	padding:20px;
}


#subtitle {
	display:inline;
	float:right;
	margin-bottom:0;
	color:#28639e;
	font-weight: bolder;
	font-size: 30px;
}

#signInArea {
	margin: 25vh auto auto auto;
	width: 50%;
}

#userProfileArea {
	/* border: 2px solid #343a40; */
padding:0;
}

#profileImageArea {
	padding: 2px;
	display: inline-block;
}

#profileImage {
	height: 150px;
	width: 150px;
	display: inline-block;
}

#userDataArea {
	margin: 5px 15px 0px 15px;
	display: inline-block;
}

#userInfoArea {
	display: none;
}

#initialPetDataInputArea{
	/*border: 2px solid #343a40;*/
}

#initialPetDataInputArea_error{
	font-weight: bold;
	color: red;
}

#petDataDisplayArea {
	/*border: 2px solid #343a40;*/
	padding: 10px;
	margin: 2px;
}
.mapBtn,.sizeBtn{
	background-color:#28639e;
	color:white;
	font-weight:bold;
	border: 2px solid #28639e;
	margin: 5px;
}
#vetButton:hover{
	color:orange;
}
#parkButton:hover{
	color:red;
}

#shopButton:hover{
	color:green;
}
.mapBtn,.sizeBtn{
	background-color:#28639e;
	color:white;
	font-weight:bold;
}
#vetButton:hover{
	color:orange;
}
#parkButton:hover{
	color:red;
}

#shopButton:hover{
	color:green;
}

#mapid {
	width: 500px;
	height: 500px;
}

#mapArea {

	border: 2px solid #343a40;
	padding: 10px;
}

#petUpdateTime{
	float: right;
}

#btn-clear{
	float: right;
	margin: 5px;
	background-color: #66ff99;
	border: 2px solid #343a40;
	color: #343a40;
	font-weight: bold;
}

#btn-clear:hover{
	background-color: #339966;
	border-color: #66ff99;
	color: #66ff99;
	/* border: 2px solid #343a40; */
	padding: 10px;
}


#petDataDisplayArea {
	/* border: 2px solid #343a40; */
	padding: 10px;
}

#mapid {
	
	width: 400px;
	height: 400px;
}
#placeDiv{
	margin-left: 30px;
	font-size: 0.9em;
}

#placeDiv td {
	padding: 0.2rem !important;
	border-top: 1px solid #28639e;
	z-index: -1;
}

#submitButtonArea{
	width: 50%;
	margin: auto;
}

.card{
	border: none;
	background: none;
}

.card-header{
	margin: 10px 0px 10px 0px;
	color: #28639e;
	font-size: 24px;
	font-weight: bolder;
	background-color:#E9ECEF;
	border: 5px solid #28639e;
}

.card-body{
	margin: auto;
	width: 80%;
	padding: 0px;
	border: none;
	background: none;
}

#preHeaderSpacer{
	height: 10px;
	width: 10px;
}

#googleDisplayName{
	color: #28639e;
	font-weight: bold;
}

#googleEmail{
	color: #28639e;
	font-weight: bold;
}
.paw { position: fixed;
	width: 20px;
	height: 20px;
	bottom: 0;
	left: 0;
	}
.paw1 { position: fixed;
	width: 20px;
	height: 20px;
	bottom: 0;
	left: 21px;
}
.paw2 { position: fixed;
	width: 20px;
	height: 20px;
	bottom: 0;
	right: 0px;
}
.paw3 { position: fixed;
	width: 20px;
	height: 20px;
	bottom: 0;
	right: 21px;
}
#mapid { 
	z-index: 8;
}
#adopt {
	
}
